
#menu--toggle {
    @apply flex items-center relative w-8 h-6 self-center;

    & a, & a::before, & a::after{
        height: 3px;
        @apply w-full bg-primary-darkest;
    }

    & a{

        @apply block transition-colors;

    }

    
    & a::before{
        
        top: 0;
        left: 0;
        content: "";
        @apply absolute transition-transform;
    }
    
    & a::after{
        
        bottom: 0;
        left: 0;
        content: "";
        @apply absolute transition-transform;
    }
}



#menu--wrap {
    @apply -md:absolute -md:top-0 -md:left-0 -md:h-screen -md:w-2/3;
    /* Design */
    @apply -md:bg-secondary-lightest;

    /* The transition */
    @apply -md:transition-transform -md:transform -md:-translate-x-full;
}

#menu--list {
    /* General: */
    @apply flex font-bold;

    /* Mobile only */
        /* Basic */

    

    @apply -md:flex-col -md:space-y-8 -md:p-8 -md:text-2xl;

    /* Desktop only */
    @apply md:items-center md:space-x-8;
}


#menu--overlay {
    @apply fixed invisible w-full h-full z-10 transition-colors;
}


.menu--active {

    @apply overflow-hidden;

    #menu--overlay {
        @apply bg-secondary-darkest bg-opacity-60 visible;
    }

    #menu--toggle {

        & a {
            @apply bg-transparent;
            --magic: 7.4px;
        }



        & a::before {
            transform: rotateZ(45deg) translate(var(--magic), var(--magic));
        }
        & a::after {
            transform: rotateZ(-45deg) translate(var(--magic), calc(var(--magic) * -1));
        }
    }

    #menu--wrap {
        @apply translate-x-0;
    }
}
