/* ./DistributionPackages/MHS.Site/Resources/Public/Tailwind/tailwind.css */
.moin-header--bg {
    background: linear-gradient(hsl(0, 0%, 100%), hsl(183.92, 12.57%, 98.17%) 5.79%, hsl(183.91, 12.77%, 95.04%) 10.88%, hsl(183.88, 13.08%, 90.74%) 15.63%, hsl(183.85, 13.5%, 85.41%) 20.37%, hsl(183.8, 14.06%, 79.17%) 25.46%, hsl(183.73, 14.8%, 72.13%) 31.25%, hsl(183.64, 15.8%, 64.42%) 38.08%, hsl(183.49, 17.16%, 56.2%) 46.3%, hsl(183.28, 20.9%, 47.67%) 56.25%, hsl(182.98, 33.76%, 39.11%) 68.29%, hsl(182.55, 56.89%, 30.92%) 82.75%, hsl(182, 100%, 23.53%));
}
#menu--toggle {
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 2rem;
    align-items: center;
    align-self: center;
}
#menu--toggle a, #menu--toggle a::before, #menu--toggle a::after{
        height: 3px;
    }
#menu--toggle a, #menu--toggle a::before, #menu--toggle a::after {
    width: 100%;
}
#menu--toggle a, #menu--toggle a::before, #menu--toggle a::after {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 17, 18, var(--tw-bg-opacity));
}
#menu--toggle a {
    display: block;
}
#menu--toggle a {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
#menu--toggle a::before{
        
        top: 0;
        left: 0;
        content: "";
    }
#menu--toggle a::before {
    position: absolute;
}
#menu--toggle a::before {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
#menu--toggle a::after{
        
        bottom: 0;
        left: 0;
        content: "";
    }
#menu--toggle a::after {
    position: absolute;
}
#menu--toggle a::after {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
@media (max-width: 767px) {
    #menu--wrap {
        position: absolute;
    }
    #menu--wrap {
        top: 0px;
    }
    #menu--wrap {
        left: 0px;
    }
    #menu--wrap {
        height: 100vh;
    }
    #menu--wrap {
        width: 66.666667%;
    }
}
#menu--wrap {
    /* Design */
}
@media (max-width: 767px) {
    #menu--wrap {
        --tw-bg-opacity: 1;
        background-color: rgba(251, 223, 204, var(--tw-bg-opacity));
    }
}
#menu--wrap {

    /* The transition */
}
@media (max-width: 767px) {
    #menu--wrap {
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    #menu--wrap {
        --tw-translate-x: -100%;
    }
    #menu--wrap {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
}
#menu--list {
    /* General: */
    display: flex;
    font-weight: 700;

    /* Mobile only */
        /* Basic */
}
@media (max-width: 767px) {
    #menu--list {
        flex-direction: column;
    }
    #menu--list > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
    #menu--list {
        padding: 2rem;
    }
    #menu--list {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
#menu--list {

    /* Desktop only */
}
@media (min-width: 768px) {
    #menu--list {
        align-items: center;
    }
    #menu--list > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
    }
}
#menu--overlay {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.menu--active {
    overflow: hidden;
}
.menu--active #menu--overlay {
    visibility: visible;
}
.menu--active #menu--overlay {
    --tw-bg-opacity: 1;
    background-color: rgba(6, 3, 0, var(--tw-bg-opacity));
}
.menu--active #menu--overlay {
    --tw-bg-opacity: 0.6;
}
.menu--active #menu--toggle a {
    background-color: transparent;
}
.menu--active #menu--toggle a {
            --magic: 7.4px;
        }
.menu--active #menu--toggle a::before {
            transform: rotateZ(45deg) translate(var(--magic), var(--magic));
        }
.menu--active #menu--toggle a::after {
            transform: rotateZ(-45deg) translate(var(--magic), calc(var(--magic) * -1));
        }
.menu--active #menu--wrap {
    --tw-translate-x: 0px;
}
/* ! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}
/**
Use a more readable tab size (opinionated).
*/
html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}
/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}
/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
	margin: 0;
}
/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}
/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}
/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
	font-weight: bolder;
}
/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}
/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}
/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}
/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
	text-transform: none;
}
/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}
/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}
/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}
/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}
/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
fieldset {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Tailwind custom reset styles
 */
/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}
/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */
body {
  font-family: inherit;
  line-height: inherit;
}
/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}
/*
 * Ensure horizontal rules are visible by default
 */
hr {
  border-top-width: 1px;
}
/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}
button,
[role="button"] {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */
a {
  color: inherit;
  text-decoration: inherit;
}
/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
video {
  max-width: 100%;
  height: auto;
}
* {
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
body {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 249, 249, var(--tw-bg-opacity));
}
.drag-none {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        pointer-events: none;
        -moz-user-drag: none;
        -webkit-user-drag: none;
    }
h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(0, 116, 120, var(--tw-text-opacity));
}
h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgba(0, 17, 18, var(--tw-text-opacity));
}
.wrap {
            max-width: 64rem;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.sticky {
    position: sticky;
}
.left-0 {
    left: 0px;
}
.bottom-0 {
    bottom: 0px;
}
.top-0 {
    top: 0px;
}
.z-50 {
    z-index: 50;
}
.z-0 {
    z-index: 0;
}
.z-\[-1\] {
    z-index: -1;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.h-header {
    height: 5rem;
}
.h-full {
    height: 100%;
}
.h-screen {
    height: 100vh;
}
.min-h-\[100px\] {
    min-height: 100px;
}
.min-h-\[15rem\] {
    min-height: 15rem;
}
.w-full {
    width: 100%;
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.bg-primary-darkest {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 17, 18, var(--tw-bg-opacity));
}
.object-contain {
    -o-object-fit: contain;
       object-fit: contain;
}
.object-cover {
    -o-object-fit: cover;
       object-fit: cover;
}
.object-bottom {
    -o-object-position: bottom;
       object-position: bottom;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.pt-header {
    padding-top: 5rem;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-secondary {
    --tw-text-opacity: 1;
    color: rgba(239, 113, 33, var(--tw-text-opacity));
}
@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }
    .md\:\!hidden {
        display: none !important;
    }
    .md\:w-1\/2 {
        width: 50%;
    }
    .md\:w-wrap\/2 {
        width: 32rem;
    }
    .md\:w-1\/4 {
        width: 25%;
    }
    .md\:w-3\/4 {
        width: 75%;
    }
    .md\:flex-row-reverse {
        flex-direction: row-reverse;
    }
    .md\:self-center {
        align-self: center;
    }
    .md\:p-8 {
        padding: 2rem;
    }
}
@media (min-width: 1024px) {
        .lg\:wrap {
            max-width: 64rem;
        }

        .lg\:wrap {
        margin-left: auto;
        margin-right: auto;
    }

        .lg\:wrap {
        width: 100%;
    }

        .lg\:wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

        .lg\:flex {
        display: flex;
    }

        .lg\:h-screen {
        height: 100vh;
    }

        .lg\:h-full {
        height: 100%;
    }

        .lg\:h-auto {
        height: auto;
    }

        .lg\:min-h-\[20rem\] {
        min-height: 20rem;
    }

        .lg\:w-1\/2 {
        width: 50%;
    }

        .lg\:w-1\/3 {
        width: 33.333333%;
    }

        .lg\:space-x-8 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
    }

        .lg\:self-center {
        align-self: center;
    }

        .lg\:py-header {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

        .lg\:pb-60 {
        padding-bottom: 15rem;
    }
}
@media (max-width: 1023px) {
        .-lg\:wrap {
            max-width: 64rem;
        }

        .-lg\:wrap {
        margin-left: auto;
        margin-right: auto;
    }

        .-lg\:wrap {
        width: 100%;
    }

        .-lg\:wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

        .-lg\:relative {
        position: relative;
    }
}
@media (max-width: 767px) {
        .-md\:wrap {
            max-width: 64rem;
        }

        .-md\:wrap {
        margin-left: auto;
        margin-right: auto;
    }

        .-md\:wrap {
        width: 100%;
    }

        .-md\:wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
